<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Введение</string>
		<key>name</key>
		<string>Часть 1</string>
		<key>id</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Модель</string>
		<key>name</key>
		<string>Часть 2</string>
		<key>id</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>View</string>
		<key>name</key>
		<string>Часть 3</string>
		<key>id</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Список видов</string>
		<key>name</key>
		<string>Часть 4</string>
		<key>id</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Экран урока</string>
		<key>name</key>
		<string>Часть 5</string>
		<key>id</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Экран урока</string>
		<key>name</key>
		<string>Часть 6</string>
		<key>id</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Отправляем обратную связь</string>
		<key>name</key>
		<string>Часть 7</string>
		<key>id</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Экран о приложении</string>
		<key>name</key>
		<string>Часть 8</string>
		<key>id</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Экран о приложении</string>
		<key>name</key>
		<string>Часть 9</string>
		<key>id</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>url</key>
		<string>TCnUiFOosFE</string>
		<key>descr</key>
		<string>Встроенные покупки</string>
		<key>name</key>
		<string>Часть 10</string>
		<key>id</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
